@import "tailwindcss";

@font-face {
    font-family: ZalandoSans;
    src: url("../src/fonts/ZalandoSansSemiExpanded-VariableFont_wght.ttf");
}

@theme {
    --font-ZalandoSans: ZalandoSans, sans-serif;
}

body {
    @apply bg-neutral-800 text-white;
}
